# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../brot 2.0\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ADMIN\IdeaProjects\brot 2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
